/* Обновленный стиль для лендинга */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Контейнер для выравнивания содержимого */
.container {
    width: 80%;
    margin: 0 auto;
    max-width: 1200px;
}

/* Шапка */
header {
    background-color: #3498db;
    color: white;
    padding: 40px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
}

header p {
    font-size: 1.2em;
}

/* Блок "Как это работает" */
.how-it-works {
    padding: 40px 0;
    background-color: #ecf0f1;
}

.how-it-works h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2em;
}

.steps {
    display: flex;
    justify-content: space-between;
}

.step {
    background-color: white;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.step h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.step p {
    font-size: 1.1em;
}

/* Форма контакта */
.contact {
    background-color: #fff;
    padding: 40px 0;
}

.contact h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input,
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
}

form button {
    padding: 15px 30px;
    border: none;
    background-color: #3498db;
    color: white;
    font-size: 1.1em;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #2980b9;
}

/* Стили для кнопки перехода в Telegram */
.telegram-button {
    display: inline-block;
    padding: 15px 30px;
    margin-top: 20px;
    background-color: #0088cc; /* Цвет фона (голубой) */
    color: white; /* Цвет текста */
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.telegram-button:hover {
    background-color: #005f80; /* Цвет фона при наведении */
    transform: scale(1.1); /* Увеличение кнопки */
}

.telegram-button:active {
    background-color: #003f5f; /* Цвет фона при нажатии */
    transform: scale(1); /* Возвращаем в нормальный размер */
}

/* Подвал */
footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
}
